
.content{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 1rem;
        *{
            background-color: transparent;
        }

        .box {
            flex: 1;
            background-color: var(--bg-second);
            min-width: 320px;
            border-radius: 16px;
            padding: 32px;
            display: block;
            overflow: hidden;
        }

        .box_small{
            min-width: 250px;
            max-height: 120px;

            display: flex;
            align-items: center; 
        }

        .count_informations{
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }

        .charts{
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
       
    
}

