
:root {
     /* Colors */

     --bg-main: #eaecf1;
     --bg-second: #FFFFFF;
     --color-100: #D1D2DC;
     --color-50: var(--gray-400);


     --gray-800: #1F2029;
     --gray-400: #797D9A;
     --gray-100: #D1D2DC;
     --gray-50: #EEEEF2;

     --blue-500: #349eff;
     --blue-800: #0d508f;
     --blue-100: #BEE3F8;

     --red-500: #F56565;
     --red-600: #D9534F;
     --yellow-500: #d3a500;
     --green-500: #2F855A;



     /* Padding */
     --hDefault: 24px;
     /* Font sizes */
     --small: 0.8rem;
  
     --margin-sidebar: 280px;

     // Box shadow

     --box-shadow-light: -10px 10px 5px rgba(0,0,0,0.2);
     --box-shadow-input: 5px 8px 5px rgba(0, 0, 0, 0.101);
}

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     transition: color 0.5s ease-in;

     &::-webkit-scrollbar{
          width: 12px !important;
          background-color: var(--bg-second) !important;
     }
     &::-webkit-scrollbar-thumb{
          background-color: rgba(0, 0, 0, 0.5) !important;
     }
}

body{
     font-family: 'Montserrat', sans-serif;

}

.theme-light{
     #logo{
          img{
               filter: none;
          }
      }
}

.theme-dark{
     --bg-main: #181B23;
     --bg-second: var(--gray-800);      
}


     
 
body {
     background-color: var(--bg-main) !important;
     .box, .sidebar{
          position: relative;
          z-index: 1;
          background-color: var(--bg-second);
          transition: all 0.2s 0.6s ease-in !important;
          box-shadow: var(--box-shadow-light);
          color: var(--color-50);
     }

     .sidebar{
          height: 100vh;
          box-shadow: none;
     }

     &::before{
          content: "";
          width: 10vw;
          height: 10vw;
          border-radius: max(100vw, 100vw);
          background-color: var(--bg-main);
          position: fixed;
          z-index: -1;
          transform: scale(0);
          transition: all 1.5s  ease-in-out;
          left: -5vw;
          bottom: -5vw;
          transform-origin: bottom bottom;
          animation: dark-light 3.5s ease-in-out forwards;
     }

     @keyframes dark-light {
          from{
               z-index: 20;
               
          }

          to{
               z-index: -1;
          }
     }
     
     label{
          transition: all 0.4s ease;
          transition-delay: 0.6s;
     }


}

body.active {
     transition: background-color 1s 1.25s ease;
     background-color: var(--bg-main);

     &::before{
          z-index: 20;
          transform: scale(50);
          animation: toggle 3.5s forwards;
     }

     
     @keyframes toggle {
          from{
               z-index: 20;
          }
          to{
               z-index: -1;
               
          }
     }


     .toogle_theme{
          .icon_toggle{
               position: absolute;
               left: 30px !important;
               color: rgb(68, 68, 85) !important;
          }
     }

}



input {
     outline: 0;
}
     // This is for custom box
     .apexcharts-tooltip {
          border-radius: 12px;
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3) !important;
          color: var(--gray-800) !important;
       // This is for custom header
            &.apexcharts-theme-light .apexcharts-tooltip-title {
               color: var(--gray-800) !important;
               border-bottom: 0;
               font-weight: bold;
             }
      // This is for custom headers
    
     }

.flex-h-center{
     display: flex;
     align-items: center;
     justify-content: center;
}
a, button{
     cursor: pointer;
}
button{
     border-radius: 8px;
}


// CONTENT SIDEBAR RIGHT

.labels{
     display: flex;
     flex-direction: column;
     gap: 5px;

     input{
          padding: 10px;

          &:disabled{
               opacity: 0.5;
          }
     }
}

.buttons_sideRight{
     button{
          padding: 10px;
          &:nth-child(1){
               background-color: var(--bg-second);
               &:hover{
                    filter: brightness(0.9);
               }
          }    
          
          &:nth-child(2){
               background-color: var(--red-500);
               color: #F0F0F0;
               &:hover{
                    filter: brightness(0.9);
               }
          }    
     }
}



.layout{
     width: 100%;
     max-width: 1480px;
     display: flex;
     margin-bottom: 2rem;
     .back{
          cursor: pointer;
          display: flex;
          align-items: center;
          color: var(--color-50);
          font-size: 1.5rem;
          margin-bottom: 1rem;

          transition: all 0.3s;

          &:hover{
               filter: brightness(0.75);
          }
     }

}

.content{
     display: flex;
     flex-direction: column;
     padding: 0 24px;
     width: 100%;
     margin-left: var(--margin-sidebar);
}

select{
     option {
          background-color: var(--bg-main) !important;
     }
}

@media screen and (max-width: 768px) {
     .content{ 
          margin-left: 0px;
     }
}

table {
     tr:nth-child(even){
          background-color: var(--bg-main) !important;
     }
}

#nprogress .bar {
     background: #29d;
     height: 5px !important;
}

table{
     thead{
          th{
               width: 100%;
               font-size: 0.8rem;
               div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
               }
          }
     }


}