
:root {
     /* Colors */

     --bg-main: #FFFFFF;
     --bg-second: #F0F0F0;
     --color-100: #D1D2DC;
     --color-50: var(--gray-400);


     --gray-800: #1F2029;
     --gray-400: #797D9A;
     --gray-100: #D1D2DC;
     --gray-50: #EEEEF2;

     --blue-500: #349eff;
     --blue-800: #0d508f;
     --blue-100: #BEE3F8;

     --red-500: #F56565;
     --yellow-500: #d3a500;
     --green-500: #2F855A;



     /* Padding */
     --hDefault: 24px;
     /* Font sizes */
     --small: 0.8rem
}

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     transition: color 0.5s ease-in;

     &::-webkit-scrollbar{
          width: 12px !important;
          background-color: var(--bg-second) !important;
     }
     &::-webkit-scrollbar-thumb{
          background-color: rgba(0, 0, 0, 0.5) !important;
     }
}

body{
     font-family: 'Montserrat', sans-serif;

     
}

.theme-light{
     #logo{
          img{
               filter: none;
          }
      }
}

.theme-dark{
     --bg-main: #181B23;
     --bg-second: var(--gray-800);      
}


     
 
body {
     .box::before {
          content: "";
          position: absolute;
          z-index: -1;
          width: 5vw;
 
          height: 5vw;
          border-radius: max(100vw, 100vw);
          transform: scale(0);
          background-color: var(--gray-800);
          left: -5vw;
          bottom: -5vw;
          transition: all 0.6s 0.6s ease;
          overflow-y: hidden !important;
   
     }

     .box{
          position: relative;
       
          z-index: 1;
          transition: all 0.4s 0.4s ease-in;
          box-shadow: -10px 10px 5px rgba(0,0,0,0.2);
          color: var(--color-50);
          
     }

     &::before{
          content: "";
          width: 10vw;
          height: 10vw;
          border-radius: max(100vw, 100vw);
          background-color: var(--bg-main);
          position: fixed;
          z-index: -1;
          transform: scale(0);
          transition: all 1.5s ease-in-out;
          left: -5vw;
          bottom: -5vw;
          transform-origin: bottom bottom;
     }

     
     label{
          transition: all 0.4s ease;
          transition-delay: 0.6s;
     }


}

body.active {
     .box::before {
          content: "";
          transform: scale(2);
          max-width: 80vw;
          overflow-y: hidden !important;
     }

     .box {
          overflow-y: hidden !important;
          box-shadow: -10px 10px 5px rgba(0,0,0,0.05); 
     }

     &::before{
          transform: scale(50);
     }

     .toogle_theme{
          .icon_toggle{
               position: absolute;
               left: 30px !important;
               color: rgb(68, 68, 85) !important;
          }
     }

}



input {
     outline: 0;
}
     // This is for custom box
     .apexcharts-tooltip {
          border-radius: 12px;
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3) !important;
          color: var(--gray-800) !important;
       // This is for custom header
            &.apexcharts-theme-light .apexcharts-tooltip-title {
               color: var(--gray-800) !important;
               border-bottom: 0;
               font-weight: bold;
             }
      // This is for custom headers
    
     }

.flex-h-center{
     display: flex;
     align-items: center;
     justify-content: center;
}
a, button{
     cursor: pointer;
}
button{
     border-radius: 8px;
}


// CONTENT SIDEBAR RIGHT

.labels{
     display: flex;
     flex-direction: column;
     gap: 5px;

     input{
          padding: 10px;

          &:disabled{
               opacity: 0.5;
          }
     }
}

.buttons_sideRight{
     button{
          padding: 10px;
          &:nth-child(1){
               background-color: var(--bg-second);
               &:hover{
                    filter: brightness(0.9);
               }
          }    
          
          &:nth-child(2){
               background-color: var(--red-500);
               color: #F0F0F0;
               &:hover{
                    filter: brightness(0.9);
               }
          }    
     }
}