.box_employees {
    width: 100%;
    max-width: 1480px;
    padding: 0 var(--hDefault);
    display: flex;

}

.box_table {
    flex: 1;
    background-color: var(--bg-second);
    padding: 32px;
    border-radius: 8px;
    overflow-x: auto !important;
    margin-bottom: 1rem;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        h1 {
            font-size: 1.88rem;
        }
    }
    @media screen and (max-width: 768px){
        .header{
            h1{
                font-size: 1.25rem;
            }
        }
    }

    table {
        width: 100%;
        input[type='checkbox'] {
            cursor: pointer;
            position: relative;
            outline: 0;
        }
        
       

        th:nth-child(1){
            // padding: 0 24px;
        }
        th{
            text-align: center;
            width: 50px;
            padding: 0.5rem;
            border-bottom: 1px solid rgba(204, 204, 204, 0.356);
        }
        td {
            text-align: center;
            padding: 1rem;
            padding-left: 0.5rem;
            border-bottom: 1px solid rgba(204, 204, 204, 0.356);
            div{
                display: flex;
                flex-direction: column;
                a{
                    line-height: 18px;
                }
                small{
                    font-weight: bold;
                }
            }

            &:nth-child(1){
                background-color: rgba(49, 65, 65, 0.329);
                color: #F0F0F0;
                font-weight: bold;
                letter-spacing: 1px;
                cursor: pointer;
                &:hover{
                    filter: brightness(0.4);
                }
            }
        }
    }
}