.sideRight{
    position: fixed;
    width: 40vw;
    background-color: var(--bg-main);
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    height: 100%;
    right: -40vw;
    top: 0;
    z-index: 999;
    padding: 25px 35px;
    transition: right 0.3s ease;
    border-left: 10px solid rgba(204, 204, 204, 0.112);

    &.active {
        transition: 0.3s ease-in-out;
        right: 0;
    }
  }
  
  
  .head {
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    span {
        font-size: 1.5rem;
        cursor: pointer;
      }
  }
  
  .body {
    font-size: 0.9rem;
    width: 100%;
    gap: 25px;

    .labels{
        background-color: aqua;
    }

    > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 50px;
    }

    
  }

 @media screen and (max-width: 768px) {
    .sideRight{
        width: 80vw;
        right: -80vw;

        overflow-y: auto;
    }


    .body {
        > div {
            grid-template-columns: 1fr;
            grid-gap: 20px;
            margin-bottom: 50px;
        }
    }
 }

 

 //BOX DECISION
.overlay{
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        width: 300px;
        height: 150px;
        background-color: var(--bg-second);
        border-radius: 8px;
        color: var(--gray-400);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;

        button{
            padding: 10px 20px;
            background-color: var(--bg-main);
            transition: filter ease 0.3s;
            font-weight: bold;
            filter: brightness(0.8);
            color: rgb(150, 150, 150);
            &:hover{
                filter: brightness(0.35);
            }
            + button{
                margin-left: 5px;
            }

            &:nth-child(2){
                color: #FFFFFF;
                background-color: var(--red-500);
                filter: brightness(1);
                &:hover{
                    filter: brightness(0.8);
                }
            }
        }
    }
}