<html lang='pt'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'
      rel='stylesheet'
    />

    <style>
      .container-email{ user-select: none; text-align: center; padding: 5px;
      border-radius: 50px; color: #f0f0f0; border: 20px inset #489ac1; } h1{
      margin:0; font-size: 2.5rem; padding-bottom: 25px; font-family: 'Poppins',
      sans-serif; } h4{ color: rgba(228, 15, 15, 0.801); margin: 0; } span{
      margin: 0; padding: 20px; font-size: 1.2rem; letter-spacing: 1px; color:
      #f0f0f0; } a{ font-size: 1.2rem; color: #f0f0f0; } .container-superior{
      height: 100%; position: relative; background-color: #083156;
      border-radius: 25px 25px 0 0; user-select: none; } .inferior{
      border-radius: 0 0 25px 25px; background: #1e1f20; } .image{ width: 50%; }
      img{ user-select: none; width: 45%; margin-right: 50px; position:
      absolute; object-fit: contain; left: 10px; } .hash{ letter-spacing: 5px;
      font-size: 4rem; }
    </style>

  </head>
  <body>
    <div class='container-email'>
      <div class='container-superior'>
        <div class='image'>
          <img src='cid:mail' height='200' />
        </div>

        <div>
          <h1>Hi, {{name}} :)</h1>
        </div>
        <tr>
          <td
            style='font-size: 2px; line-height: 10px; mso-line-height-rule: exactly;'
          >&nbsp;</td>
        </tr>
      </div>
      <div class='inferior'>
        <tr>
          <td
            style='font-size: 2px; line-height: 5px; mso-line-height-rule: exactly;'
          >&nbsp;</td>
        </tr>

        <span>
          Verification code:
          <h2 class='hash'>{{hash}}</h2>
        </span>

        <h5>This is an automated email, please do not reply :)</h5>
        <tr>
          <td
            style='font-size: 2px; line-height: 5px; mso-line-height-rule: exactly;'
          >&nbsp;</td>
        </tr>
      </div>

    </div>
  </body>
</html>
