.tooltip{
    width: 400px;
    height: 100vh;
    background-color: transparent;

    position: absolute;
    z-index: 999;

    pointer-events: none;

    top: 0px;
    right: 0;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;

    .tooltip_element {
        width: 200px;
        height: 100px;
        background-color: aqua;
        border: 1px solid;
        position: relative;
        z-index: 99999999;
    }
}