/** Header Component **/

// Fragment Logo

.logo{
    width: 240px;
    
    img{
        cursor: pointer;
        width: 120px;
        filter: invert(0.5) brightness(1.5);
    }
}

@media screen and (max-width: 720px){
    .logo{
        img{
            width: 80px;
            margin-left: 16px;
        }
    }
}

// End Fragment Logo



// Fragment Search
.label{
    display: flex;
    flex: 1;

    padding: 16px 32px;
    margin-left: 24px;
    max-width: 400px;
    background-color: var(--bg-second);
    align-items: center;
    color: var(--gray-200);
    position: relative;
    border-radius: 13px;

    input {
        width: 100%;
        color: var(--color-50);
        background-color: transparent;
        padding: 0 16px;
        margin-right: 16px;
        
        &::placeholder{
            color: var(--gray-400);
        }
    }
}

// End Fragment Search

// Fragment NotificationsNav

.notificationsNav{
    display: flex;
    gap: 8px;
    margin: 0 16px;
    padding: 4px 0;
    padding-right: 24px;
    border-right-width: 1px;
    border-color: var(--gray-400);

    .container_icon{
        background-color: var(--bg-second);
        border-radius: 8px;
        width: 50px;
        height: 20px;
        position: relative;
        .icon{
            position: absolute;
            transition: all 1s ease;
            left: 0px;
        }
    }
}

// End Fragment NotificationsNav

// Fragment Profile

.profile{
    display: flex;
   
    .informations{
        margin-right: 16px;
        text-align: right;

        p{
           color: var(--gray-400); 
           font-size: 0.75rem;
        }
    }
}

// End Fragment Profile


/** INDEX **/

.container{
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 2.5rem;

    display: flex;
    align-items: center;

    padding: 0 var(--hDefault);
}

.icon_button{
    margin-right: 8px;
}

.group_notifications_profile{
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--color-50);
    position: relative;
    cursor: pointer;

    .box_floating{
        position: absolute;
        z-index: 9999;
        top: 60px;
        right: 5px;
        background-color: var(--bg-second);
        
        transition: all 0.3s ease;
        transform: scale(0);
        transform-origin: top right;

        padding: 15px 30px;
        box-shadow: -2px 5px 10px rgba(0,0,0,0.28);
        border-radius: 8px 0 8px 8px;
        div{
            line-height: 35px;
            cursor: pointer;
        }

        &.active{
            transform: scale(1);
        }
    }
}


// CONTAINER LOGOUT

.overlay{
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        width: 300px;
        height: 150px;
        background-color: var(--bg-second);
        border-radius: 8px;
        color: var(--gray-400);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;

        button{
            padding: 10px 20px;
            background-color: var(--bg-main);
            transition: filter ease 0.3s;
            font-weight: bold;
            filter: brightness(0.8);
            color: rgb(150, 150, 150);
            &:hover{
                filter: brightness(0.35);
            }
            + button{
                margin-left: 5px;
            }

            &:nth-child(2){
                color: #FFFFFF;
                background-color: var(--red-500);
                filter: brightness(1);
                &:hover{
                    filter: brightness(0.8);
                }
            }
        }
    }
}